{% extends "base.html" %} {% block title %}Bookmarks{% endblock %} {% block content %}
<h1 align="center">Bookmarks</h1>
<ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes %}
        <li class="list-group-item">{{ note.data }}
                <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                        <span aria-hidden="true">&times;</span>
                </button>
        </li>
        {% endfor %}
</ul>

<form method="POST">
        <h3 align="center">Create New Bookmark</h3>
        <div class="form-group">
                <label for="bookmark-title">Bookmark Title</label>
                <input
                type="text"
                id="bookmark-title" 
                name="bookmark-title"
                placeholder="Bookmark title"
                />
        </div>
        <div class="form-group>
                <label for="url">Website URL</label>
                <input
                type="url"
                id="url" 
                name="url"
                placeholder="Paste URL here"
                />
        </div>
        <div class="form-group>
                <label for="category1">Category</label>
                <input
                type="text"
                id="category1" 
                name="category1"
                placeholder="Main bookmark category"
                />
        </div>
        <div class="form-group>
                <label for="category2">Category</label>
                <input
                type="text"
                id="category2" 
                name="category2"
                placeholder="Bookmark sub-category"
                />
        </div>
        <!-- <div class="form-group>
                <label for="image">Image</label>
                <input
                type="image"
                id="image" 
                name="image"
                />
        </div> -->
        <div class="form-group>
        <label for="bookmark-description">Bookmark Description</div>
        <textarea name="desciption" id="description" placeholder="Description of website"></textarea>
        </div>
        <br />
        <div align="center">
                <button type="submit" class="btn btn-primary">Add Bookmark</button>
        </div>
</form>
{% endblock %}